# Entorno Virtual (importante, ya que el servidor creará el suyo)
venv/

# Archivos de Python generados
__pycache__/
*.pyc

# Base de datos local (NO subir datos sensibles o temporales)
guias.db

# Archivos del sistema operativo
.DS_Store
